@media screen and (min-width: 500px) {

    .body-header {
        background-color: black;
        color: white;
    }

    .main-content {
        grid-template-columns: 1fr 1fr;
    }

    .res-grid {
        background-color: #ddd;
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }

    section {
        background-color: #ddd;
        border: 10px solid #ccc;
        padding: 20px;
        text-align: center;
    }


}